<div class="page-footer red darken-4">
    <div class="container">
  <div class="row">
      <div class="col s12 m4 12">
          <span><strong>Inicio</strong></span>
          <ul>
              <li><a href="" class="grey-text text-lighten-3">Nosotros</a></li>
              <li><a href="" class="grey-text text-lighten-3">Servicios</a></li>
              <li><a href="" class="grey-text text-lighten-3">Cartelera</a></li>
              <li><a href="" class="grey-text text-lighten-3">Contacto</a></li>
          </ul>
      </div>
      <div class="col s12 m4 12">
        <span><strong>Promociones</strong></span>
        <ul>
            <li><a href="" class="grey-text text-lighten-3">Nosotros</a></li>
            <li><a href="" class="grey-text text-lighten-3">Servicios</a></li>
            <li><a href="" class="grey-text text-lighten-3">Cartelera</a></li>
            <li><a href="" class="grey-text text-lighten-3">Contacto</a></li>
        </ul>
    </div>
    <div class="col s12 m4 12">
        <span><strong>Proveedores</strong></span>
        <ul>
            <li><a href="" class="grey-text text-lighten-3">Linea directa</a></li>
            <li><a href="" class="grey-text text-lighten-3">Publicidad</a></li>
            <li><a href="" class="grey-text text-lighten-3">Software</a></li>
            <li><a href="" class="grey-text text-lighten-3">Eventos</a></li>
        </ul>
    </div>
  </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
         Copyright 2020 - Manuel Gamez (Angular+Firebase project)
        </div>
    </div>
</div>