<div class="row white">

    <h3 class="align center">Ofertas y Promociones</h3>

    <div class="carousel">
        <a class="carousel-item">
            <img src="./assets/img/promociones/1.png">
        </a>
        <a class="carousel-item">
            <img src="./assets/img/promociones/2.jpeg">
        </a>
        <a class="carousel-item">
            <img src="./assets/img/promociones/3.jpg">
        </a>
        <a class="carousel-item">
            <img src="./assets/img/promociones/4.png">
        </a>
        <a class="carousel-item">
            <img src="./assets/img/promociones/5.jpg">
        </a>
        <a class="carousel-item">
            <img src="./assets/img/promociones/6.jpg">
        </a>

        <a class="carousel-item">
            <img src="./assets/img/promociones/7.jpg">
        </a>
        <a class="carousel-item">
            <img src="./assets/img/promociones/8.jpg">
        </a>
    </div>
</div>