.card .card-content {
    padding: 6px;
    border-radius: 0 0 2px 2px;
    text-align: center;
}
a { color: inherit; } 
h1 {
    font-size: 4.2rem;
    margin: 2.8rem 0 1.68rem 0;
    padding-bottom: 1rem;
}
.row#section{
    background-color: white;
}