<nav class="black">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <li><a href="sass.html"><i class="fa fa-facebook"></i></a></li>
            <li><a href="badges.html"><i class="fa fa-instagram"></i></a></li>
            <li><a href="badges.html"><i class="fa fa-twitter-square"></i></a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Registrar</a></li>
            <li><a href="badges.html">Iniciar Sesión</a></li>
        </ul>
        <ul  class="right hide-on-large-only">
            <li><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" style="font-size:18px;margin-top:-5px;">person_add</i></a>
            </li>
            <li><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" style="font-size:18px;margin-top:-5px;">person</i></a>
            </li>
        </ul>
    </div>
</nav>




<nav>
    <div class="container">
        <div class="col s6">
            <ul class="left hide-on-med-and-down">
                <li> <a href="#!" class="brand-logo hide-on-med-and-down"><img src="./assets/img/logo.png" alt=""
                            width="230px;" class="responsive-img"></a>
  
            </ul>
            <ul class="left hide-on-large-only" 
            >
                <li> 
                    
                    <a href="#!" class=""><img src="./assets/img/logo.png" alt=""
                        width="100px;" class="responsive-img" id="logo_resp"></a>
      
                </li>

            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Inicio</a></li>
                <li><a href="badges.html">Cartelera</a></li>
                <li><a href="badges.html">Promociones</a></li>

                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown_desktop">Ciudades<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
        <ul class="right">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        </ul>
    </div>

</nav>
<ul id="dropdown_desktop" class="dropdown-content">
    <li><a href="#!">Hermosillo, Metrocentro</a></li>
    <li><a href="#!">Hermosillo, Mirador</a></li>
    <li><a href="#!">Hermosillo, Centro</a></li>

</ul>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Inicio</a></li>
    <li><a href="badges.html">Cartelera</a></li>
    <li><a href="badges.html">Promociones</a></li>

    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown_mobile">Ciudades<i
                class="material-icons right">arrow_drop_down</i></a></li>
</ul>

<ul id="dropdown_mobile" class="dropdown-content">
    <li><a href="#!">Hermosillo, Metrocentro</a></li>
    <li><a href="#!">Hermosillo, Mirador</a></li>
    <li><a href="#!">Hermosillo, Centro</a></li>

</ul>