nav{

    float:left;
}
nav.black{
    height: 30px;
    padding:0;

}
img#logo_resp{
 padding-top:1.1rem;
}
nav.black, nav.black .nav-wrapper i, nav.black a.sidenav-trigger, nav.black a.sidenav-trigger i {
    line-height: 35px!important;
    padding-bottom:10px;
}
.brand-logo{
    padding-bottom:10px;
    padding-top:6px;
}
.dropdown-content{
    background-color: #ee6e73!important;
    color:white;
}
.dropdown-content li a{
    color:white;
}
.btn-floating.btn-large {
    width: 20px;
    height: 19px;
    padding: 0;
    margin-top:-5px;
}

.spacer{
  
    flex: 1 1 0;
}

@media screen and (max-width: 992px) {
.nav-mobile > li > a {
    width: 30px!important;

}
.nav-mobile > li > a > i {
    font-size: 8px!important;
}

}