<div class="row blue-grey lighten-4 filter">
    <h6 class="left-align"><strong>Compra tus boletos:</strong></h6>
    <div class="input-field col s12 m3 13">
        <select>
            <option value="" selected disabled>Fecha</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>


        </select>

    </div>

    <div class="input-field col s12 m3 13">
        <select>
            <option value="" selected disabled>Película</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>


        </select>

    </div>


    <div class="input-field col s12 m3 13">
        <select>
            <option value="" selected disabled>Formato</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>


        </select>

    </div>


    <div class="input-field col s12 m3 13">
        <select>
            <option value="" selected disabled>Hora</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>
            <option>1,2,3</option>


        </select>

    </div>
</div>