<app-navbar></app-navbar>
<app-movies-filter></app-movies-filter>
<app-slides></app-slides>
<app-weekly-billboard></app-weekly-billboard>
<app-next-release></app-next-release>
<app-carousel></app-carousel>
<app-footer></app-footer>