<div class="row" id="section">
    <div class="col s12">
        <div class="row">
            <h1 class="center align">Cartelera Semanal</h1>
        </div>
        <div class="row">
            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/img/posters/BatmanVSSuperman.jpg">
                </div>
                <div class="card-content">
                    <a href="" style="padding-right:14px;"> <i class="fa fa-heart"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-youtube"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-language"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-share-alt"></i></a>
                </div>
            </div>

            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/img/posters/cowboys_aliens.jpg">
                </div>
                <div class="card-content">
                    <a href="" style="padding-right:14px;"> <i class="fa fa-heart"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-youtube"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-language"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-share-alt"></i></a>
                </div>
            </div>

            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/img/posters/gernika.jpg">
                </div>
                <div class="card-content">
                    <a href="" style="padding-right:14px;"> <i class="fa fa-heart"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-youtube"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-language"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-share-alt"></i></a>
                </div>
            </div>

            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/img/posters/guardians-galaxy.jpg">
                </div>
                <div class="card-content">
                    <a href="" style="padding-right:14px;"> <i class="fa fa-heart"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-youtube"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-language"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-share-alt"></i></a>
                </div>
            </div>

            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/img/posters/mostruos_vs_alienigenas.jpg">
                </div>
                <div class="card-content">
                    <a href="" style="padding-right:14px;"> <i class="fa fa-heart"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-youtube"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-language"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-share-alt"></i></a>
                </div>
            </div>

            <div class="col s12 m2 12 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/img/posters/venom.jpg">
                </div>
                <div class="card-content">
                    <a href="" style="padding-right:14px;"> <i class="fa fa-heart"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-youtube"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-language"></i></a>
                    <a href="" style="padding-right:14px;"> <i class="fa fa-share-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>