<div class="slider white">

<ul class="slides">
    
    <li><img src="./assets/img/banners/pacific-rim.jpg"></li>
    <li><img src="./assets/img/banners/Justice_League.jpg"></li>
    <li><img src="./assets/img/banners/rampage.jpg"></li>
    <li><img src="./assets/img/banners/SpiderMan.jpg"></li>


</ul>

</div>
